trigger:
  batch: true
  branches:
    include:
      - master
      - develop
      - release/*
      - hotfix/*
  
pr:
  branches:
    include:
    - bug-fix/*
    - feature/*

pool:
  vmImage: 'windows-latest'

variables:
  solution: 'src/.net/Tenjin.sln'
  buildConfiguration: 'Release'
  ngBuildConfiguration: '--prod'
  coreVersion: "5.x"
  major: 1
  minor: 0
  revision: $[counter(variables['major'], 0)]
  ${{ if or(contains(variables['Build.SourceBranch'], 'feature/'), contains(variables['Build.SourceBranch'], 'bug-fix/'))  }}:
    releaseType: '-alpha'
  ${{ if eq(variables['Build.SourceBranchName'], 'develop') }}:
    releaseType: '-beta'
  ${{ if contains(variables['Build.SourceBranch'], 'release/') }}:
    releaseType: '-rc'
  ${{ if eq(variables['Build.SourceBranchName'], 'master') }}:
    releaseType: ''
  versionNumber: $[format('{0}.{1}.{2}{3}', variables['major'], variables['minor'], variables['revision'], variables['releaseType'])]
  
name: $(versionNumber)
jobs:
- job: Build
  steps:
  
  - task: UseDotNet@2
    displayName: Install .NET Core 5.0 Runtime
    inputs:      
      version: '$(coreVersion)'
        
  - task: DotNetCoreCLI@2
    displayName: Restore .NET Core Solution
    inputs:
      command: restore
      projects: '$(solution)'
        
  - task: DotNetCoreCLI@2
    displayName: Build .NET Core Solution
    inputs:
      command: build
      projects: '$(solution)'
      arguments: '--configuration $(buildConfiguration) --no-restore  /p:Version=$(versionNumber)'


  - task: DotNetCoreCLI@2
    displayName: Test .NET Core Solution
    inputs:
      command: test
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration) --no-restore --no-build --filter TestCategory!=Integration'  
